<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Profile</title>
    </head>
    <body>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Kropbox</title>
    </head>
    <body>
        <div>
            <h1>{{ user }}'s </h1>
            <div>
                <h3>Current Folder - {{ data.currentfolder }}</h3>
    
                {% for child in data.children %}
                    <li><a href="/folder/{{ child.id }}">{{ child.name }}</a></li>
                {% endfor %}
                <h4>Files</h4>
                {% for document in structure.documents %}
                    <li><a href="{{ document.document.url }}">{{document.name}}</li>
                {% endfor %}
            </div> 
              
        <br>
        <br>
        <br>
        <form action='/profile/' method="GET">
        <button action='/profile/'>
        profile
        </button>
        </form>

        <form action='/add_folder/' method="">

        {% csrf_token %}
        <button action='/add_folder/'>
        create a folder
        </button>
        </form>
        <form action='/add_file/' method="" enctype="multipart/form-data">
        {% csrf_token %}
        <button action='/add_file/'>
        add a file
        </button>
        </form>
       <form action='/logout/' method="GET">
        <button action='/logout/'>
        logout
        </button>
        </form>

    </body>
</html>
