<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Profile</title>
    </head>
    <body>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Kropbox</title>
    </head>
    <body>


        <div>
            <h2>Hey {{user}}!</h2>
            <p>Can we have all of your data?</p>
            **********************
            <h3>Files</h3>
            <div>
                {% for object in object_list %}
                <li><a href="{{ object.document.url }}">{{ object.name }}</a></li>
                {% endfor %}
            </div>
            **********************
            <h3>Home Folder</h3>
            <div>
                {{ homefolder }}
                {% for child in data.children %}
                    <li><a href="/folder/{{ child.id }}">{{ child.name }}</a></li>
                {% endfor %}
            </div> 
              
        <br>
        <br>
        <br>

        <form action='/add_folder/' method="">

        {% csrf_token %}
        <button action='/add_folder/'>
        create a folder
        </button>
        </form>
        <form action='/add_file/' method="" enctype="multipart/form-data">
        {% csrf_token %}
        <button action='/add_file/'>
        add a file
        </button>
        </form>
       <form action='/logout/' method="GET">
        <button action='/logout/'>
        logout
        </button>
        </form>

    </body>
</html>
