<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Profile</title>
    </head>
    <body>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Kropbox</title>
    </head>
    <body>


        <div>
            <h1>{{ selected_user }}'s Submissions</h1>

            <h3>objects in folder_list</h3>
            <div>
                {% for folder in folder_list %}
                <li>{{ folder.name }}</li>
                {% endfor %}
            </div>
            **********************
            <h3>objects in object_list</h3>
            <div>
                {% for object in object_list %}
                <li>{{ object.name }}</li>
                {% endfor %}
            </div>
            **********************
            <h3>objects in myfolder_list</h3>
            <div>
                {% for object in myfolder_list %}
                <li>{{ object.name }}</li>
                {% endfor %}
            **********************
            <h3>objects in myobject_list</h3>
            <div>
                {% for object in myobject_list %}
                <li>{{ object.name }}</li>
                {% endfor %}
            </div>
            **********************
        </div>


        <div>
            {% load mptt_tags %}
            <ul>
            ********************
            <h3>recursetree folder_list</h3>
                {% recursetree folder_list %}
                    <li>
                        {{ node.name }}
                        {% if not node.is_leaf_node %}
                            <ul class="children">
                                {{ children }}
                            </ul>
                        {% endif %}
                    </li>
                {% endrecursetree %}
            ********************
            </ul>
        </div>
        <div>
            {% load mptt_tags %}
            <ul>
            ********************
            <h3>recursetree myfolder_list</h3>
                {% recursetree myfolder_list %}
                    <li>
                        {{ node.name }}
                        {% if not node.is_leaf_node %}
                            <ul class="children">
                                {{ children }}
                            </ul>
                        {% endif %}
                    </li>
                {% endrecursetree %}
            ********************
            </ul>
        </div>
        <br>
        <div>
            <h2>Public files:</h2>
            <div>Public files are displayed here.</div>
        </div>
        <br>
        <div>****************************</div>
        <div>user = {{ user }}</div>
        <div>user_id = {{ user_id }}</div>
        <div>kropbox_user = {{ kropbox_user }}</div>
        <div>myfolder_list = {{ myfolder_list }}</div>
        <div>folder_list = {{ folder_list }}</div>
        <div>object_list = {{ object_list }}</div>

        <form action='/add_folder/' method="">

        {% csrf_token %}
        <button action='/add_folder/'>
        create a folder
        </button>
        </form>
        <form action='/add_file/' method="" enctype="multipart/form-data">
        {% csrf_token %}
        <button action='/add_file/'>
        add a file
        </button>
        </form>
       <form action='/logout/' method="GET">
        <button action='/logout/'>
        logout
        </button>
        </form>

    </body>
</html>
